<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Imgnation</title>
    <meta charset="utf-8"></meta>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/navbar-top-fixed.css}" rel="stylesheet" href="../static/css/navbar-top-fixed.css"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/album">Album</a>
</nav>

<div>
    <!--/*@thymesVar id="file" type="file"*/-->
    <form enctype="multipart/form-data" th:object="${file}" th:action="@{/upload}" method="post"><br><br><br><br><br><br><br><br><br><br>
        <table>
            <tr>

                <div th:if="${msgAlert != null}">
                    <div class="alert alert-danger" role="alert">
                        <span class="message message--error" th:text="${msgAlert}"></span>
                    </div>
                </div>
                <div th:if="${msgSucess != null}">
                    <div class="alert alert-success" role="alert">
                        <span class="message message--error" th:text="${msgSucess}"></span>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="submit" class="input-group-text" id="inputGroupFileAddon01">Upload</button>
                    </div>
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="inputGroupFile01"
                               aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                    <script>
                        $('#inputGroupFile01').on('change',function(){
                            var fileName = $(this).val();
                            $(this).next('.custom-file-label').html(fileName);
                        })
                    </script>
                </div>
            </tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>

<div th:each="file : ${files}">
    <div class="gallery">
        <a target="_blank" th:href="${file}"> <img th:src="${file}" height="200" />
        </a>
        <div>
            <form action="/delete" method="POST">
                <table>
                    <input type="text" th:value="*{file}" name="text" readonly="true" />
<!--                    <input type="hidden" th:name="${_csrf.parameterName}"-->
<!--                           th:value="${_csrf.token}" />-->
                    <td><input type="submit" value="Delete" /></td>
                </table>
            </form>
        </div>
    </div>
</div>

</body>
</html>